.login-container-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 17px; 
  font-family: sans-serif;
  text-align: center;
}
.logo img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

.title-login {
  font-family: "Be Vietnam Pro";
  font-weight: 700;
  font-size: 2.864rem;
  line-height: 130%;
  letter-spacing: -4%;
  text-align: center;
  vertical-align: middle;
  max-width: 424px;
  white-space: nowrap;
}

.form-group-login {
  width: 387px;
  height: 32px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 8px;
  border-width: 1.2px;
  padding-top: 9px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 0px;
}
.form-group:focus {
  border: 1.2px solid #333;
}
.ogo {
  width: 40;
  height: 40;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 423.58px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

.forgot-link {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  font-size: 14px;
  color: #48494a99;
  text-decoration: none;
}

.sign-in-button {
  width: 350px;
  padding: 12px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
}

.sign-in-button:hover {
  opacity: 80%;
  transition: 1.5s;
}

.create-account-link-login {
  text-align: center;
}

.create-login {
  font-family: "Be Vietnam Pro";
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #48494a;
  text-decoration: none;
}

.create:hover {
  opacity: 80%;
  transition: 1.5s;
}

.emails-login {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 12px;
  color: #48494a99;
  padding: 0px;
}

.emaillogin {
  width: 432px;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 14px;
  color: #48494a99;
  padding: 0px;
}

Link {
  text-decoration: none;
}

Link:hover {
  opacity: 80%;
  transition: 1.5s;
}
.formg {
  width: 423.58px;
  height: 56px;
  justify-content: space-between;
  border-radius: 8px;
  border-width: 1.2px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1.2px solid #f2f2f2;
}
