
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containercheck {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 423.58001708984375px;
  height: 296px;
  gap: 17px;
  max-width: 520px;
  top: 364px;
  left: 508px;
}
.contti {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.title {
  font-family: "Be Vietnam Pro";
  font-weight: 700;
  font-size: 28.64px;
  line-height: 37.23px;
  letter-spacing: -4%;
  text-align: center;
  color: #48494a;
}

.message {
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 336px;
  height: 68px;
}
.signin-text {
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  font-size: 15px;
  line-height: 17.88px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #48494A;
}
.signin-link {
  color: #000;
  cursor: pointer;
}
.open {
  text-decoration: none;
  padding: 0px;
}
.headcheck {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
Link {
  text-decoration: none;
}
.signcheck {
  text-decoration: none;
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  font-size: 15px;
  line-height: 17.88px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #48494A;
}
